# Environments
venv/
venvpy2/
downloads/*
!downloads/.gitkeep
.DS_Store
.idea/
.vscode/
access.log
.smbdelete*
tmp/
extlibs/*
__pycache__/

jupyter/data/*
!jupyter/data/wanted.json
jupyter/*checkpoint*
apikeys.yaml

# duplicated files
#docker/.env
#docker/requirements.txt
#docker/.credentials
#bin/UnattendedTemplates/aux*